<div id="contactus"></div>
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="widget widget-image">
                    <h4 class="widget-title">درباره ما</h4>
                </div>
                <div class="widget widget-text">
                    <p>
                        <a href="/#">حامی دیابت ،</a>
                        حامی دیابت چتر حمایتی بیماران دیابتی و خدمت‌رسانی به این عزیزان است که شامل شبکه‌ای از عرضه‌کنندگان خدمات پزشکی، دارویی، آموزشی، مشاوره‌ای و رفاهی می‌باشد. این سامانه امکان عرضه محصولات و خدمات سازمان‌ها را در سطح گسترده‌تری فراهم می‌آورد از طرفی بيماران با عضویت در این شبکه می‌توانند به مراکز خدماتی، پزشکی، رفاهی و فروشگاه‌های منتخب مراجعه کرده و از خدمات این مراکز بهره‌مند شوند.

                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="widget widget-nav-menu">
                    <h4 class="widget-title">منو</h4>
                    <ul class="menu">
                        <li class="menu-item"><a href="/#anchor-head">نخست</a></li>
                        <li class="menu-item"><a href="/#anchor-whatdiabet">حامی دیابت چیست؟</a></li>
                        <li class="menu-item"><a href="/#anchor-hamian">حامیان حامی دیابت</a></li>
                        <li class="menu-item"><a href="/#anchor-video">ویدیوهای آموزشی</a></li>
                        <li class="menu-item"><a href="/#contactus">تماس با ما</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget widget-contact-info">
                    <h4 class="widget-title">تماس با ما</h4>
                    <ul class="contact-info">
                        <li class="important"><i class="fa fa-comment"></i><a>ارسال پیام</a></li>
                        <li class="ltr"><i class="fa fa-phone"></i> (021) 84015700</li>
                        <li class="ltr"><i class="fa fa-envelope"></i>hamidiabet@yahoo.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget widget-text">
                    <h4 class="widget-title">انواع بسته ها</h4>
                    <p>
                        <b><i class="fa fa-chevron-left"></i></b><a href="/#anchor-bimar">
                            عضویت برنز بیمار
                        </a><br />
                        <b><i class="fa fa-chevron-left"></i></b><a href="/#anchor-bimar">
                            عضویت نقره ای بیمار
                        </a><br />
                        <b><i class="fa fa-chevron-left"></i></b><a href="/#anchor-bimar">
                            عضویت طلایی بیمار
                        </a><br />
                        <b><i class="fa fa-chevron-left"></i></b><a href="/#anchor-kasb">
                            عضویت برنز کسب و کار
                        </a><br />
                        <b><i class="fa fa-chevron-left"></i></b><a href="/#anchor-kasb">
                            عضویت نقره ای کسب و کار
                        </a><br />
                        <b><i class="fa fa-chevron-left"></i></b><a href="#anchor-kasb">
                            عضویت طلایی کسب و کار
                        </a><br />
                        <br />
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>