<div id="anchor-head" ></div>
<header id="headermenu" class="site-header transparent" >
    <div class="container" >
        <div class="header-wrap clearfix" >
            <div class="logo pull-left" >
            </div>
            <nav class="site-navigation pull-right">
                <div class="mobile-wrap">
                    <div class="above-nav-bar">
                        <ul class="contact-info transparent">
                            <li><i class="fa fa-phone"></i> <span class="white">021-84015700</span></li>
                            <li><i class="fa fa-envelope"></i> <span class="white">hamidiabet@yahoo.com</span></li>
                        </ul>
                        <ul class="social social-transparent-border">
                            <li><a href="https://www.instagram.com/diabetnews/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://telegram.me/DiabetNews" target="_blank"><i class="fa fa-paper-plane"></i></a></li>
                        </ul>


                            @if (System.Web.HttpContext.Current.Session["access_token"] != null)
                            {
                                <a href="/SignOut" class="btn btn-light btn-dash btn-sm">خروج</a>
                            }
                            else
                            {
                                <a href="/SignUp" id="alogin" class="btn btn-light btn-dash btn-sm">ثبت نام</a>
                                <a href="/SignIn" id="alogin" class="btn btn-light btn-dash btn-sm">ورود</a>
                            }
                        



                        @*<a href="/SignUp" id="alogin" class="btn btn-light btn-dash btn-sm">ثبت نام</a>
                        <a href="/SignOut" class="btn btn-light btn-dash btn-sm">خروج</a>*@
                        <div class="visible-xs" style="height:3px;">
                        </div>
                        <a href="#" class="btn btn-info btn-dash btn-sm">پیشنهاد ویژه</a>

                    </div>
                    <!-- /Above Navbar -->
                    <!-- Main menu -->
                    <ul id="main-menu" class="main-menu">
                        <li class="menu-item" style="min-width: 100px;">
                            <a href="#anchor-head">نخست</a>
                        </li>
                        <li class="menu-item menu-item-has-children" style="min-width: 150px;">
                            <a href="#anchor-whatdiabet">حامی دیابت چیست؟</a>
                        </li>
                        <li class="menu-item menu-item-has-children" style="min-width: 110px;">
                            <a href="#anchor-video">ویدیوهای آموزشی</a>
                        </li>
                        <li class="menu-item " style="min-width: 130px;">
                            <a href="#anchor-hamian">حامیان حامی دیابت</a>
                        </li>
                        <li class="menu-item">
                            <a href="#anchor-customers">تماس با ما</a>
                        </li>
                    </ul>
                </div>
                <span class="burger pull-right"> <span class="burger-top"></span> <span class="burger-middle"></span> <span class="burger-bottom"></span> </span>
            </nav>
        </div>
    </div>
</header>

<div id=""></div>
<section class="sss" id="sliderheader" >
    <div class="rev_slider_wrapper">
        <div id="slider1" class="rev_slider" data-version="5.0" >
            <ul>
                <li data-transition="slideright" data-masterspeed="400" data-fstransition="fade">
                    <img src="~/images/content/Diabetes.jpg" alt="حامی دیابت" width="1920" height="1280">
                    <div class="tp-caption rev-title " data-x="center" data-hoffset="" data-y="center" data-voffset="['-100','-100','-50','0']" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                         data-start="500">
                    </div>
                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="310" data-y="280" data-voffset="['13','13','60','0']" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                         data-visibility="['on','on','on','off']" data-start="500">
                        <a href="#anchor-bimar" class="btn btn-wide" style="padding: 18px 90px;font-size:18px;">بیمار دیابتی</a>
                    </div>
                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="310" data-y="380" data-voffset="['13','13','60','0']" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                         data-visibility="['on','on','on','off']" data-start="500">
                        <a href="#anchor-kasb" class="btn btn-wide" style="padding: 18px 70px;font-size:18px;">کسب و کار دیابتی</a>
                    </div>
                </li>
                <li data-transition="slideright" data-masterspeed="400" data-fstransition="fade">
                    <img src="~/images/hands.jpg" alt="حامی دیابت" width="1920" height="1280">
                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="310" data-y="280" data-voffset="['13','13','60','0']" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                         data-visibility="['on','on','on','off']" data-start="500">
                        <a href="#anchor-bimar" class="btn btn-wide" style="padding: 18px 90px;font-size:18px;">بیمار دیابتی</a>
                    </div>
                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="310" data-y="380" data-voffset="['13','13','60','0']" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                         data-visibility="['on','on','on','off']" data-start="500">
                        <a href="#anchor-kasb" class="btn btn-wide" style="padding: 18px 70px;font-size:18px;">کسب و کار دیابتی</a>
                    </div>
                </li>
                <li data-transition="slideright" data-masterspeed="400" data-fstransition="fade">
                    <img src="~/images/bimarediabeti.jpg" alt="حامی دیابت" width="1920" height="1280">
                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="310" data-y="280" data-voffset="['13','13','60','0']" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                         data-visibility="['on','on','on','off']" data-start="500">
                        <a href="#anchor-bimar" class="btn btn-wide" style="padding: 18px 90px;font-size:18px;">بیمار دیابتی</a>
                    </div>
                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="310" data-y="380" data-voffset="['13','13','60','0']" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                         data-visibility="['on','on','on','off']" data-start="500">
                        <a href="#anchor-kasb" class="btn btn-wide" style="padding: 18px 70px;font-size:18px;">کسب و کار دیابتی</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>