
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <title>
        حامی دیابت
    </title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/common.css" rel="stylesheet" />

    <link href="~/css/css.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="font-size: 2rem;">

        <div class="row">

            <div class="col-sm-12 mt-25px ">
                <img src="~/images/logo.png"
                     alt="حامی دیابت" class="img-responsive center-block logo" />
            </div>

        </div>
        <hr class="hr mt-20px" />
        <div class="row mt-20px">
            <div class="col-sm-12 text-center text-white-by-shadow">
                <p>
                    <span class="text-blue">حامی دیابت</span> سامانه حمایت از بیماران دیابتی و خدمت رسانی به این عزیزان است که با همکاری برخی از انجمن های خیریه و سازمان های مردم نهاد حوزه دیابت در حال گردآوری شبکه‌ای از عرضع کنندگان خدمات پزشکی، دارویی، آموزشی، مشاوره‌ای و رفاهی می‌باشد.
                    <br />
                    این سامانه امکات عرضه محصولات و خدمات شما را به بیماران دیابتی در سطح گسترده‌تری فراهم می‌آورد.

                </p>
            </div>
            <div class="col-sm-12 text-center mt-10px">
                <span class="yellow-box">در صورت تمایل می‌توانید با پر کردن هریک از فرم‌های مربوطه نسبت به پیش ثبت نام در این سامانه اقدام فرمایید.</span>
            </div>
        </div>
        <div class="vertical-15px"></div>
        <div class="row mt-10px">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4 center-block icon mb-15px">
                        <a href="http://frm.callwithme.com/view.php?id=34088" target="_blank" class="">
                            <img src="~/images/clinica.png" class="img-responsive center block" alt="کلینیک ها و مراکز درمانی" />
                            <span class="block mt-10px">کلینیک ها و مراکز درمانی</span>
                        </a>
                    </div>
                    <div class="col-sm-4 center-block icon mb-15px">
                        <a href="http://frm.callwithme.com/view.php?id=32349" class="">
                            <img src="~/images/doctors.png" class="img-responsive center block" alt="پزشکان" />
                            <span class="block mt-10px">پزشکان</span>
                        </a>
                    </div>
                    <div class="col-sm-4 center-block icon mb-15px">
                        <a href="http://frm.callwithme.com/view.php?id=33288" class="">
                            <img src="~/images/stuff.png" class="img-responsive center block" alt="تجهیزات پزشکی" />
                            <span class="block mt-10px">تجهیزات پزشکی</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>


        </div>

    </div>


    <script src="~/js/jquery-3.2.1.slim.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
</body>
</html>








